// This place for global scss variables


$forum: 'Neucha', sans-serif;
$forum: 'Play', sans-serif;
$forum: 'Jura', sans-serif;
$forum: 'Marmelad', sans-serif;

$popup_width: 300px;
$popup_margins: 40px;

$light-blue: #c8eaf5;
$middle-blue: #00aeef;
$normal-blue: #0083ca;
$dark-blue: #2e3192;

$normal-orange: #fbb040;
$dark-orange: #f15a29;

$button-blue: $middle-blue;
$button-border-blue: $dark-blue;