@import url(http://fonts.googleapis.com/css?family=Neucha|Play:700|Jura|Marmelad&subset=latin,cyrillic);
@import 'compass/reset';
@import 'compass/css3';
@import "compass/utilities/general/clearfix";
@import 'global';
@import 'mixins';
@import 'header';
@import 'popups';

body {
  background: white;
}

#preloader, #warnings {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: 500;
  padding: 200px 0 0 0;
}

#preloader {
  width: 100%;
  height: 100%;
}

#preloader {
  background: white;
}

#warnings .warning {
  display: none;
  margin: 0 auto;
  padding: 0px;
  text-align: center;

  &.reload_warn {
    color: red;
  }
}

article {
  z-index: 1;
  position: relative;
}

section.canvas {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 0px;
  z-index: 2;

  .label {
    position: absolute;
    background: #000;
    top: 0px;
    left: 0px;
    padding: 3px;
    font-size: 14px;
    color: #FF0;
    font-weight: bold;
  }

  .label.select {
    color: #F00;
  }
}

@import "pages/chat";
@import "pages/main";
@import "pages/help";
@import "pages/unsupport";

#chat_page {
  width: 700px;
  height: 700px;
  background: #F00;
  .chat {
    .empty {
      display: none;
    }
  }
}


section.page {
  position: relative;
  @include clearfix;
  z-index: 3;
}

section.popups {
  position: relative;
  z-index: 100;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
}